#age-check {
  width: 100%;
  height: 2000px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  background-color: rosybrown;
  font-size: 45px;
}

#autoplay {
    display: none;
}

.timer {
    background-color: #0b03ff;
    display: inline;
    color: red;
    font-size: 50px;
}

#clock {
  float: right;
}

#error {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

body {
    font-family: "Schoolbell";
    background-image: url("../images/heart-background.jpg");
    background-color: hotpink;
    background-repeat: repeat;
    background-size: 500px 100px;
  }
  
  div{
  margin: 25px;  
  }
  
  img {
    display: block;
  }
  .animals {
    display: inline;
  }
  
  .header {
    color: #f70539;
    background-color: #32de03;
    width: 70%;
    margin: 45px 0px;
    font-size: 60px;
  }
  
  h2 {
    color: #f7bf25;
    background-color: #741fdb;
    width: 40%;
    font-size: 30px;
  }

  
  a{
    color: #f7bf25;
    background-color: #741fdb;
    font-weight: bold;
  }
  
  #gorilla {
    width: 800px;
    height: 800px;
  }
  
  #lion {
    width: 500px;
    height: 700px;
    position: relative;
    left: 1200px;
  }
  
  #giraffe {
    width: 700px;
    height: 800px;
  }
  
  #bat {
      float: right;
      width: 500px;
      height: 1000px;
  }

  #not-found {
    width: 500px;
    
  }
  
  #leopard {
    width: 5000px;
    height: 750px;
  }
  
  #gazelle {
    width:  100px;
  }
  
  .game{
    width: 20%;
    display: inline;
  }
  
  #run-btn{
    display: block;
    width: 400px;
    height: 50px;
    font-size: 25px;
  }
  
  #antelope{
    position: relative;
    left: 57%;
  }
  
  #baby {
    position: relative;
    left: 850px;
    margin: 80px 0px 50px 0px;
  }
  
  #cheetah-run {
    position: relative;
    left: 0%;
    z-index: 2;
  }
  
  #antelope-eat{
    position: relative;
    left: 77%;
  }
  
  #cool {
    color: #0334fa;
    background-color: #661701;
    width: 10%;
    font-size: 50px;
    display: inline;
    position: relative;
  }
  
  button{
    display: inline;
  }
  
  #heart {
    position: relative;
    left: 300px;
    top: 100px;
  }
  
  #garfield {
    width: 300px;
    height: 700px;
    position: relative;
    left: 675px;
  }
  
  span{
    display: inline;
  }
  
  .hide {
    display: none;
  }
  
  .diet-tips{
    background-color: #c27cb3;
    color: #40632d;
    font-family: Verdana, sans-serif;
    font-size: 25px;
  }
  
  h1{
    font-size: 50px;
    font-weight: bold;
    font-color: #6b6240;
    text-decoration: underline;
  }
  
  #diet-intro {
    font-size: 32px;
  }
  
  .list-head {
    font-size: 32px;
    font-weight: bold;
    color: #6b6240;
    text-decoration: underline;
  }
  
  #joke-box{
    background-color: #00aaff;
    width: 40%;
    font-size: 30px;
  }
  
  #joke{
    color: #ffd500;
  }

  #like {
    width: 80%;
    height: 250px;
    background-color: hotpink;
    color: darkblue;
    font-size: 36px;
    margin: 50px;
  }

  #library {
    position: relative;
    left: 1200px;

  }

  #neeson {
    position: relative;
    left: 500px;
  }

  #peter {
    width: 1500px;
  }

  #smiley-1 {
    position: relative;
    left: -150px;
  }